@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10589 Catnip Drive<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Tel:</abbr>
   1-888-659-9841
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">GatoSupport@meow.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">GatoMarketing@meow.com</a>
</address>